*{
    margin:0;
    padding:0;
}

body {
    font:14px Arial,sans-serif;
    background: url('/src/images/bg.jpg') no-repeat scroll 0 0 transparent;
    background-size: cover;
}

.container {
    height: 571px;
    margin: 30px auto;
    width: 957px;
}